# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.


## Private non-staging workspace
##################################

_/


## Temporary and backup files
###############################

*~
\#*\#
.\#*
*.swo
*.swp
*.bak
*.tmp
/tmp/


## Hidden files
#################

.*
.*/
!.gitignore


## Distribution
#################

/dist/archlinux/*/*
!/dist/archlinux/*/PKGBUILD
!/dist/archlinux/*/*.install
!/dist/archlinux/*/*.patch


## Archives
#############

*.tar
*.xz
*.gz
*.bz2
*.7z
*.lzma
*.lzo
*.lzr
*.zip
*.cbz
*.ar
*.arj
*.rar
*.squashfs
*.iso
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm


## Compiled directories
#########################

/bin/
/obj/


## Built documentation
########################

*.info
*.pdf
*.ps
*.dvi


## C
######

*.o
*.a
/*.so
/*.so.*
*.out
*.gch


## Python
###########

*.pyc
__pycache__/

